  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{namSite}} - {% block title %}{% endblock %}  </title>
    {% block meta %}
        {% for item in metas %}     
            <meta {{item.keys}}="{{item.name}}" content="{{item.contenido}}"/>
        {% endfor %}
    {% endblock %}
    <link rel="shortcut icon" href="{{srcImg}}default/favicon.png"/>
    {% block stylesheets %}
        {% for item in csss %}     
            <link  href="{{srcCss}}{{item}}" type="text/css" />
        {% endfor %}
    {% endblock %}  
</head>
{% include "loadMppi.twig" %}
<body >
    <div id="cuerpo">
                {% block header %}
                    {% include "header.twig" %}
                {% endblock %}
        {% block javascripts %}
            {% for item in jsss %}     
            <script type="text/javascript" src="{{srcJs}}{{item|trim}}"></script>
            {% endfor %}
        {% endblock %}

        <script type="text/javascript">
            $(document).ajaxStart(function() {
                $('#fdLoad').fadeIn();
            }).ajaxStop(function() {
                $('#fdLoad').fadeOut('slow');
            });//.ajaxError(function() {$.mensaje("Error Enviando Solicitud",1)});
        </script>
    </div>
</body>
</html>