<!-- 
    Complemento necesario para activar el load automaticamente cuando inicia el navegador
    autor: Jerry Anselmi
    version: 1.0
    Licencia: GPL
    correo: jerry.anselmi@gmail.com
    -->
<div id="fdLoad">
<div class="imgLoad"></div>
<div class="txtLoad">Cargando Contenido...</div>
</div>
<script type="text/javascript">(function() {if (window.jQuery) {jQuery(document.body).attr("onload",function(){jQuery("#fdLoad").fadeOut("fast");jQuery("#cuerpo").css({display: "none", visibility: "visible"}).fadeIn("slow");});return true;} else {setTimeout(arguments.callee, 500);}})();</script>
<style type="text/css">#cuerpo{visibility: hidden;}#fdLoad{background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi+P///z2AAAMACdoD3LKReasAAAAASUVORK5CYII=') ;position: fixed;width: 100%; height: 100%;top:0;left: 0; z-index: 10000;}.imgLoad{background: url('{{srcImg}}default/loader.gif');margin: 200px auto 20px;width: 90px; height: 90px;top:160;z-index: 10001;}.txtLoad{ color: #BE6E6E; font-size: 24px; margin: 0 auto;  padding-left: 25px;width: 280px;}</style>
