<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free coming soon template with jQuery countdown">
    <link rel="shortcut icon" href="{{srcImg}}default/favicon.png">

    <title>{{namSite}} - {{titlePMant}}</title>

    <!-- Bootstrap -->
    <link href="{{srcCss}}bootstrap.min.css" rel="stylesheet">
	<link href="{{srcCss}}bootstrap-theme.css" rel="stylesheet">

    <!-- siimple style -->
    <link href="{{srcCss}}mant.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  {% include "loadMppi.twig" %}
  <body id="cuerpo">
 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
       <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">{{urlComp}}</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="{{urlComp}}"><b>{{namSite}}</b></a>
     </div>
  </div>
</nav>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<h1>WeBuild</h1>
					<h2 class="subtitle">{{mensgPMant}}</h2>
					<div id="countdown" class="text-center"></div>
						
				</div>
				
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
						<p class="copyright">Copyright &copy; 2013 <a href="http://gregoriobolivar.com.ve"><br><img width="150px" src="{{srcImg}}default/logo.png" alt="{{namSite}}"></a></p>
                        <!-- 
                            All links in the footer should remain intact. 
                            Licenseing information is available at: http://bootstraptaste.com/license/
                            You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=WeBuild
                        -->
				</div>
			</div>		
		</div>
	</div>
    <script src="{{srcJs}}jquery-1.9.1.min.js"></script>
    <script src="{{srcJs}}bootstrap.min.js"></script>
	<script src="{{srcJs}}jquery.countdown.min.js"></script>
	<script type="text/javascript">
  $('#countdown').countdown('{{timesPMant}}', function(event) {
    $(this).html(event.strftime('%w Semanas %d Dias <br /> Horas %H:%M:%S'));
  });
</script>
  </body>
</html>
